@import "partials/variables.css";
@import "partials/global.css";
@import "partials/header.css";
@import "partials/footer.css";
@import "partials/blocks.css";
@import "partials/utilities.css";
@import "home.css";

@media screen and (min-width: 700px) {
  .info {
    flex-direction: row;
    justify-content: space-between;
  }

  .media-card a:hover .media-card__title {
    color: var(--bs-crete);
  }

  .intro h1 {
    text-align: left;
  }
}